nav {

    display: flex;
    justify-content: space-between;
    padding: 1rem;
    height: 50px;
    width: 100px;
    margin:30px ;
  }
  
  nav a {
    color: #241717;
    font-size: 20px;
    text-decoration: none;
    margin: 0.5rem;
    
   
  }
  
  nav a:hover {
    transform: scale(1.1);
    transition: transform 0.5s ease-in-out;
  }
  